
/*============
common settings
=============*/
* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll; /* 画面右のスクロールバーを常に表示 */
    font-size: 62.5%; /* マスターフォントサイズ 10px=1rem */
    line-height: 1.15;
}

a {
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #f6f6f4;
    color: #212529;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.5;
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    text-align: left;
}

/*============
navigation menu
=============*/
.nav-drawer {
    display: none; /* デフォルト非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.show {
    display: block; /* アクティブ時 */
}

/*============
contents
=============*/
#content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* footerを最下部に固定 */
}

/*============
header
=============*/
header {
    height: 5rem;
}

.header-fixed {
    height: 5rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 10;
}

.header-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    display: none;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo a {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 57px;
    margin: 0 15px;
    color: #3e3e3e;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
    display: flex;
    margin: 0 auto;
    line-height: 55px;
}

.header-link li a {
    font-size: 1.8rem;
    margin: 0 8px;
    color: #3e3e3e;
}

/*============
search form
=============*/
#search-form form {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.form-control {
    display: inline;
    width: auto;
    border: 1px solid #c4ccce;
    border-radius: 3px;
    box-shadow: none;
    font-size: 1.4rem;
    font-weight: bold;
    height: 40px;
    padding: 6px 12px;
    line-height: 1.5;
    vertical-align: middle;
}

.post-keyword .card-search-keyword{
    width: 280px;
}

.post-gametitle .card-search-gametitle{
    width: 215px;
    padding: 3px;
}

.search-button {
    position: absolute;
    cursor: pointer;
}

/*============
footer
=============*/
footer {
    margin-top: auto;
    padding: 32px 16px;
    background-color: #3e3e3e;
    color: #fff;
}

.footer-container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-link li a {
    margin-left: 16px;
    color: #b3b3b3;
}

.wrapper-top {
    height: 300px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.top-left {
    width: 60%;
    margin-left: 16px;
}

.wrapper-items {
    padding: 32px 16px 0 16px;
}

/*============
like button
=============*/
.like-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #F75D5D;
    text-align: center;
    background: #fff;
    border: solid 1px #F75D5D;
    border-radius: 10px;
    padding: 10px;
}

.on {
    background: #F75D5D;
    color: #fff;
}

/*============
responsive settings
=============*/
@media (min-width: 1200px) {
    .container{
        max-width: 1360px;
    }
}
