{% extends 'khpost/base.html' %}

{% block content %}
<div class="wrapper-items">
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
        {{ form.non_field_errors }}
            <table class="table">
                <tbody>
                    {% for field in form %}
                        <tr>
                            <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                            <td>{{ field }} {{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg" >送信</button>
        </form>
    </div>
</div>
<div class="wrapper-items">
    <div class="container">
        <a href="{% url 'account_reset_password' %}">パスワード変更</a>
    </div>
</div>
<div class="wrapper-items">
    <div class="container">
        <a href="{% url 'accounts:settings_deactivate' %}">退会</a>
    </div>
</div>
{% endblock %}
