{% extends 'khpost/base.html' %}

{% load static %}
{% load khpost %}

{% block title %}{{ user.username }} - カミヒロバ{% endblock %}

{% block content %}

<div class="wrapper-items">
    <div class="container">
        <p>{{ user.username }}</p>
        <p>{{ user.userprofile.handle }}</p>
        <p>{{ user.userprofile.description }}</p>
        <p>{{ user.userprofile.location }}</p>
        <p>{{ user.userprofile.mysite }}</p>
    </div>
</div>
<div class="wrapper-items">
    <div class="container">
        <section>
            {% for post in post_list %}
            <article>
                <a href="{% url 'khpost:khpost_detail' post.pk %}">{{ post.title }}</a>
                <p>{{ post.writer }}</p>
                <p>{{ post.game }}</p>
                <p>{{ post.created_at }}</p>
                <p>{{ post.likes.count }}いいね</p>
                <hr>
            </article>
            {% endfor %}
        </section>
    </div>
</div>
<div class="wrapper-items">
    <div class="container">
        <div class="like-btn {% if like_active %}on{% endif %}"{% if user.is_authenticated %} data-href="{% url 'accounts:accounts_follow' user.userprofile.pk %}"{% endif %}>
            <div class="liked-cnt">
                {{ user.userprofile.follower.count }}
            </div>
        </div>
    </div>
</div>

{% include 'khpost/pagination.html' %}

{% endblock %}
