/*============
variable settings
=============*/

// Colors
$white: #fff; // 白
$black: #333; // 黒
$black-half: rgba(0,0,0,.5); // 半透明の黒
$grey-bg: #f6f6f4; // 薄い灰色
$theme: #4d6594; // 紺色
$theme-light: #e6ebf5; // 薄い紺色

$grey: #595959;
$grey-light: #d3d3d3;
$green: #86c023;

// fonts
$font-family-primary: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, meiryo, sans-serif;
// $font-family-secondary: "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", Roboto, Arial, Meiryo, sans-serif;

// Transition
$duration: 400ms;
$easing: ease;

/*============
responsive standard
(phone <= 479px, 480px = 30em <= tablet <= 959px, 960px = 60em <= pc)
=============*/

$breakpoints: (
    'sm': 'screen and (min-width: 30em)',
    // 'md': 'screen and (min-width: 48em)',
    'lg': 'screen and (min-width: 60em)',
    // 'xl': 'screen and (min-width: 75em)',
) !default;

// 第１引数：sm~lg
@mixin mq ($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// 第１引数：クラス属性
@mixin responsive ($class, $bp: $breakpoints) {
    #{$class} {
        @content;
    }
    @each $suffix, $value in $bp {
        @media #{$value} {
            #{$class}-#{$suffix} {
                @content;
            }
        }
    }
}

/*============
common settings
=============*/

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll; // 画面右のスクロールバーを常に表示
    font-size: 62.5%; // マスターフォントサイズ 10px = 1rem
    line-height: 1.15;
}

a {
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl, dt, dd, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: $grey-bg;
    color: $black;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.5;
    font-family: $font-family-primary;
    text-align: left;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    text-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}
