/*============
content common
=============*/

#content-wrapper {
    display: flex;
    min-height: 100vh; // フッターを最下部に固定
    overflow-x: hidden;
    flex-direction: column;
}

// PC表示用 最大幅制限
.container {
    width: 100%;
    max-width: 95rem;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/*============
content index.html
=============*/

.wrapper-top {
    height: 30rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.top-left {
    width: 70%;
    margin-left: 2rem;
}

.wrapper-items {
    padding: 32px 16px 0 16px;
}

/*============
like button
=============*/
.like-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #F75D5D;
    text-align: center;
    background: #fff;
    border: solid 1px #F75D5D;
    border-radius: 10px;
    padding: 10px;
}

.on {
    background: #F75D5D;
    color: #fff;
}
