/*============
contents
=============*/
#content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* フッターを最下部に固定 */
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 95rem;
    margin: 0 auto;
}

/*============
like button
=============*/
.like-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #F75D5D;
    text-align: center;
    background: #fff;
    border: solid 1px #F75D5D;
    border-radius: 10px;
    padding: 10px;
}

.on {
    background: #F75D5D;
    color: #fff;
}
