/*============
footer
=============*/
footer {
    margin-top: auto;
    padding-bottom: 5rem;
    background-color: #3e3e3e;
    color: #b3b3b3;
}

.footer-container {

}

.footer-logo {
    padding: 2rem 0;
    text-align: center;
}

.footer-logo a {
    margin: auto;
    color: #b3b3b3;
}

.footer-link ul li a {
    display: block;
    position: relative;
    padding: 1.5rem;
    border-bottom: .1rem solid #555555;
    color: #b3b3b3;
}

.footer-link ul li:first-child {
    border-top: .1rem solid #555555;
}

.footer-link ul li a::after {
    display: block;
    position: absolute;
    top: 45%;
    right: 2rem;
    transform: rotate(45deg);
    width: .6rem;
    height: .6rem;
    border-top: .2rem solid #b3b3b3;
    border-right: .2rem solid #b3b3b3;
    content: "";
}

.footer-copyright {
    padding: 3rem 0;
    color: #b3b3b3;
    font-size: smaller;
    text-align: center;
}
