<!DOCTYPE html>

{% load static %}
{% load sass_tags %}
{% load khpost %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block description %}{% endblock %}
        {% block keyword %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
<!--        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">-->
        <!-- fontAwesome -->
        <script src="https://kit.fontawesome.com/57a835be4a.js" crossorigin="anonymous"></script>
        <!-- My style -->
        <link rel="stylesheet" href="{% static 'css/kh.css' %}">
        <link rel="stylesheet" href="{% sass_src 'scss/kh.scss' %}">
        <!-- favicon -->
        <link rel="shortcut icon" href="#">
        <link rel="apple-touch-icon" href="#">
        <link rel="icon" type="image/png" href="#">

    </head>
    <body>
        <nav id="nav-drawer" class="dn">
            <div class="nav-mask"></div>
            <div data-toggle="nav-menu" class="nav-menu">

            </div>
            <div data-toggle="nav-search" class="nav-search"></div>
        </nav>

        <div id="content-wrapper">

            <header>
                <div class="header-fixed">
                    <div class="header-container">
                        <div class="header-left">
                            <div class="header-menu-btn">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                            <div class="header-logo">
                                <a href="{% url 'khpost:index' %}">カミヒロバ</a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="header-search-btn">
                                <a href="#"><span><i class="fas fa-search"></i></span></a>
                            </div>
                            <div class="header-post-btn">
                                <a href="{% url 'khpost:khpost_create' %}"><span><i class="far fa-edit"></i></span></a>
                            </div>
                            <div class="header-mypage-btn">
                                <a href="#"><span><i class="fas fa-user"></i></span></a>
                            </div>
                        </div>
                        <div class="header-right dn">
                            {% create_search_form request %}
                            <ul class="header-link">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
                                {% else %}
                                <li><a href="{% url 'account_login' %}">ログイン</a></li>
                                <li><a href="{% url 'account_signup' %}">新規登録</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End header -->

            {% if messages %}
            <div class="messages">
                <div class="container">
                    <div class="">
                        <ul class="messages-list">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            {% block content %}{% endblock %}

            <footer>
                <div class="footer-container">
                    <div class="footer-left">
                        <h2>カミヒロバ</h2>
                        <p>Place For All CardGamers.</p>
                    </div>
                    <div class="footer-right">
                        <h3>カミヒロバ</h3>
                        <ul class="footer-link">
                            <li><a href="#">カミヒロバとは</a></li>
                            <li><a href="#">利用規約</a></li>
                            <li><a href="#">プライバシーポリシー</a></li>
                            <li><a href="{% url 'contact:inquiry' %}">お問い合わせ</a></li>
                            <li><a href="#">ヘルプ</a></li>
                            <li><a href="#">ガイドライン</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- End footer -->
        </div>
        <!-- End #content-wrapper -->

        <!-- JQuery -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap bundle -->
<!--        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->

        <!-- My Javascript -->
        <script src="{% static 'js/khpost_nav.js' %}"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>
